#container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    width: 75vh;
}

.cell {

    display: flex; 
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 200%
    
}

.cell:hover{

    background: lightcoral;
    border-color: magenta;
    border-width: 5px;

}

body{
    padding-top: 5%;
    display: flex;
    flex-direction: column; /* This stacks the items vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; /* Adds a nice space between the keypad and the number display */
}

#callcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 200%;
}